<div class="home_main_container">
    <div class="operator_containers creation_main_container">
        <h1>Creation:</h1>
        <ul class="operator_elements">
            @for(operator of operatorsList; track operator.id){
                <li>
                    <a [routerLink]="operator.path" routerLinkActive="active" >{{operator.label}}</a>
                </li>
            }
        </ul>
    </div>

    <div class="operator_containers transformation_main_container">
        <h1>Transformation:</h1>
        <ul class="operator_elements">
            @for(operator of transformationList; track operator.id){
                <li>
                    <a [routerLink]="operator.path" routerLinkActive="active" >{{operator.label}}</a>
                </li>
            }
        </ul>
    </div>

    <div class="operator_containers filtering_main_container">
        <h1>Filtering:</h1>
        <ul class="operator_elements">
            @for(operator of filteringList; track operator.id){
                <li>
                    <a [routerLink]="operator.path" routerLinkActive="active" >{{operator.label}}</a>
                </li>
            }
        </ul>
    </div>

    <div class="operator_containers subjects_main_container">
        <h1>Subjects:</h1>
        <ul class="operator_elements">
            @for(operator of subjectsList; track operator.id){
                <li>
                    <a [routerLink]="operator.path" routerLinkActive="active" >{{operator.label}}</a>
                </li>
            }
        </ul>
    </div>

    <div class="operator_containers multicasting_main_container">
        <h1>Multicasting:</h1>
        <ul class="operator_elements">
            @for(operator of multicastingList; track operator.id){
                <li>
                    <a [routerLink]="operator.path" routerLinkActive="active" >{{operator.label}}</a>
                </li>
            }
        </ul>
    </div>

    <div class="operator_containers miscellaneous_main_container">
        <h1>Miscellaneous:</h1>
        <ul class="operator_elements">
            @for(operator of miscellaneousList; track operator.id){
                <li>
                    <a [routerLink]="operator.path" routerLinkActive="active" >{{operator.label}}</a>
                </li>
            }
        </ul>
    </div>
</div>