a{
    text-decoration: none;
}
.home_main_container{
    width: 100%;
    height: auto;
    padding: 10px;

    .operator_containers{
        margin: 16px 8px;
    }

    .operator_elements{
        margin-left: 16px;
        li{
            margin-left: 8px;
            a{
                color: #d81b60;
                &:hover,&:active{
                    color: #6e6e6e;
                }
            }

        }
    }
}

