<div class="header_container">
    <a class="header_logo" routerLink="/" >
        <img src="/assets/images/logo.png" alt="rxjs_logo">
    </a>
    <div class="dropdowns_container">
        <select name="creation" id="creation_operators" (change)="onSelectChange($event)" [(ngModel)]="selectedOption">
            @for(option of operatorsList; track option.label){
                <option [value]="option.path">{{option.label}}</option>
            }
        </select>
    </div>
</div>
<router-outlet />
