/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
}

body{
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

h1{
    font-size: 22px;
    font-weight: 500;
    color: #000000de;
}

.main_container{
    padding: 16px;
}